@page "/users/emailsent"
<MudStack Justify="Justify.Center">
    <MudPaper class="d-flex justify-content-center mud-theme-primary" style="height:100px;width:80vw;">

        <h3 class="align-self-center">We've sent an email to you. Please click the link to confirm. The email will come from noreply@myforumsonline.com.</h3>

    </MudPaper>
</MudStack>